.card {
  display: flex;
  gap: 20px;
}

.content {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 600px) {
  .card {
    display: flex;
    flex-direction: column;
  }
}