.main-section {
  background-color: #cac4ce;
  display: block;
  width: 70%;
  margin: 10vh auto 0px;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.nav {
  display: flex;
  min-height: 50px;
  gap: 20px;
  padding: 30px 20px;
  justify-content: end;
}

.avatar {
  border-radius: 34px;
  width: 70px;
  background-color: #808080;
  color: #4e4e4e;
  border: none;
}

.steam-input {
  border-radius: 20px;
  height: 40px;
  margin: auto 0px;
}
@media only screen and (max-width: 600px) {
  .main-section {
    width: 100%;
  }
}